body {
  margin: 0px;
  padding: 1%;
  background-color: #282828;

  font-family: "JetBrains Mono", monospace;
  color: #ebdbb2;
}

h1 {
  color: #fbf1c7;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

h3 {
  color: #fbf1c7;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

p {
  color: #ebdbb2;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

a {
  color: #458588;
}

button {
  border-radius: 5px;
  border-color: #3c3836;
  background: none;
  color: #ebdbb2;
}

.page-box {
  float: right;
  display: inline-block;
  white-space: nowrap;
}

.page-text {
  margin-top: 0%;
  margin-bottom: 0%;
}

.code-box {
  margin: 1%;
  background-color: #504945;
  border-radius: 5px;
  padding: 1%;
}

.box-l,
.box-r,
.box-c {
  float: left;
  width: 96%; /* 45% width + 1% padding */
}

.box-l,
.box-r,
.box-c,
.page-box {
  margin: 1%;
  background-color: #3c3836;
  border-radius: 5px;
  padding: 1%;
}

.face {
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  width: 20%;
  float: right;
}

.json-var {
  color: #fabd2f;
}

.json-def {
  color: #b8bb26;
}
